<a href="https://colab.research.google.com/github/sakib927/My-Data-Science/blob/main/Weather_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/weather.xlsx.csv")
df

,Unnamed: 0,OUTLOOK,TEMPERATURE,HUMIDITY,WINDY,Play
0,0,Rainy,Hot,High,False,No
1,1,Rainy,Hot,High,True,No
2,2,Overcast,Hot,High,False,YES
3,3,Sunny,Mild,High,False,YES
4,4,Sunny,Cool,Normal,False,YES
5,5,Sunny,Cool,Normal,True,NO
6,6,Overcast,Cool,Normal,True,YES
7,7,Rainy,Mild,High,False,No
8,8,Rainy,Cool,Normal,False,Yes
9,9,Sunny,Mild,Normal,False,Yes
10,10,Rainy,Mild,Normal,True,Yes
11,11,Overcast,Mild,High,True,Yes
12,12,Overcast,Hot,Normal,False,Yes
13,13,Sunny,Mild,High,True,No

In [ ]:
df

,Unnamed: 0,OUTLOOK,TEMPERATURE,HUMIDITY,WINDY,Play
0,0,Rainy,Hot,High,False,No
1,1,Rainy,Hot,High,True,No
2,2,Overcast,Hot,High,False,YES
3,3,Sunny,Mild,High,False,YES
4,4,Sunny,Cool,Normal,False,YES
5,5,Sunny,Cool,Normal,True,NO
6,6,Overcast,Cool,Normal,True,YES
7,7,Rainy,Mild,High,False,No
8,8,Rainy,Cool,Normal,False,Yes
9,9,Sunny,Mild,Normal,False,Yes
10,10,Rainy,Mild,Normal,True,Yes
11,11,Overcast,Mild,High,True,Yes
12,12,Overcast,Hot,Normal,False,Yes
13,13,Sunny,Mild,High,True,No

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [ ]:
outlook=LabelEncoder()
Temp=LabelEncoder()
Hum=LabelEncoder()
win=LabelEncoder()

In [ ]:
inputs=df.drop('Play',axis='columns')
target=df['Play']
target

0      No
1      No
2     YES
3     YES
4     YES
5      NO
6     YES
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Play, dtype: object

In [ ]:
inputs['outlook_n']= outlook.fit_transform(inputs['OUTLOOK'])
inputs['Temp_n']= Temp.fit_transform(inputs['TEMPERATURE'])
inputs['Hum_n']= Hum.fit_transform(inputs['HUMIDITY'])
inputs['win_n']= win.fit_transform(inputs['WINDY'])
inputs

,Unnamed: 0,OUTLOOK,TEMPERATURE,HUMIDITY,WINDY,outlook_n,Temp_n,Hum_n,win_n
0,0,Rainy,Hot,High,False,1,1,0,0
1,1,Rainy,Hot,High,True,1,1,0,1
2,2,Overcast,Hot,High,False,0,1,0,0
3,3,Sunny,Mild,High,False,2,2,0,0
4,4,Sunny,Cool,Normal,False,2,0,2,0
5,5,Sunny,Cool,Normal,True,2,0,2,1
6,6,Overcast,Cool,Normal,True,0,0,2,1
7,7,Rainy,Mild,High,False,1,2,1,0
8,8,Rainy,Cool,Normal,False,1,0,2,0
9,9,Sunny,Mild,Normal,False,2,2,2,0
10,10,Rainy,Mild,Normal,True,1,2,2,1
11,11,Overcast,Mild,High,True,0,2,0,1
12,12,Overcast,Hot,Normal,False,0,1,2,0
13,13,Sunny,Mild,High,True,2,2,0,1

In [ ]:
inputs_n=inputs.drop(['OUTLOOK','TEMPERATURE','HUMIDITY','WINDY'],axis='columns')
inputs_n

    Unnamed: 0  outlook_n  Temp_n  Hum_n  win_n
0            0          1       1      0      0
1            1          1       1      0      1
2            2          0       1      0      0
3            3          2       2      0      0
4            4          2       0      2      0
5            5          2       0      2      1
6            6          0       0      2      1
7            7          1       2      1      0
8            8          1       0      2      0
9            9          2       2      2      0
10          10          1       2      2      1
11          11          0       2      0      1
12          12          0       1      2      0
13          13          2       2      0      1

In [ ]:
classifier = GaussianNB()
classifier.fit(inputs_n,target)
classifier.score(inputs_n,target)

0.9285714285714286

In [ ]:
classifier.predict([[2,1,0,1,2]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

array(['YES'], dtype='<U3')